<ion-view view-title="Audio Library">
  <ion-content class="padding">
    <div class="list list-inset">
      <a class="item item-avatar" href="#">
        <img src="https://ionicframework.com/img/docs/barrett.jpg">
        <h2>Day 1 Introduction To Healthy Body Healthy Mind</h2>
        <p>Clare</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="https://ionicframework.com/img/docs/barrett.jpg">
        <h2>Day 2 The ABCD's of Emotions</h2>
        <p>Clare</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="https://ionicframework.com/img/docs/barrett.jpg">
        <h2>Day 3 The ABCD's of Emotions</h2>
        <p>Clare</p>
      </a>
    </div>
  </ion-content>
</ion-view>
