<ion-view title="Main Menu">
  <!--  <ion-nav-buttons>
        <button class="button" ng-click="myGoBack()"><i class="ion-arrow-left-c"></i></button>
    </ion-nav-buttons>  -->
    <ion-content class="padding">
        <button class="button button-block button-custom" ng-click="goToRecipes()">Recipes</button>
        <button class="button button-block button-custom">Videos Library</button>  <!--   Recipes, Advice -->
        <button class="button button-block button-custom">Audio Library</button>
        <button class="button button-block button-custom">Settings</button>
        <button class="button button-block button-custom" ng-click="goToAccount()">Account</button>
    </ion-content>
</ion-view>
