<ion-view title="Main Menu">
    <ion-content class="padding">
      <!--<button class="button button-block button-custom" ng-click="goToRecipes()">Recipes</button>-->
        <button class="button button-block button-custom" ng-click="goToVidMenu()">Videos Library</button>
        <button class="button button-block button-custom" ng-click="goToChats()">Recipes</button>
        <button class="button button-block button-custom" ng-click="goToAudio()">Audio Library</button>
        <button class="button button-block button-custom">Settings</button>
        <button class="button button-block button-custom" ng-click="goToAccount()">Account</button>
    </ion-content>
</ion-view>
