<ion-view view-title="Recipes">
  <ion-content>
    <!--
    <button class="button button-block button-custom">Videos</button>
    <button class="button button-block button-custom" ui-sref="page3">Recipes</button>
    <div class="button button-block button-custom" ui-sref="tab-audio">Audio</div>
-->
    <div class="list">
      <div class="item item-divider">
          Recommended Recipes
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg">
          <h2>MEDITERRANEAN BBQ MARINADE</h2>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/09/Balsamic-Chicken-Website-Receipe-300x216.jpg">
          <h2>BALSAMIC CHICKEN</h2>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/08/Chicken-Teriyaki-Soba-Blog-Recipe-555x378.jpg">
          <h2>Chicken Teriyaki Soba</h2>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/10/Asian-Inspired-Spiced-Turkey-Meatballs-Website-Recipes-555x378.jpg">
          <h2>ASIAN INSPIRED SPICED TURKEY MEATBALLS</h2>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
        <div class="item item-divider">
          Breakfast recipes
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>


        <div class="item item-divider">
          Breakfast recipes
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>


        <div class="item item-divider">
          Lunch recipes
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>


        <div class="item item-divider">
          Dinner recipes
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>

        <div class="item item-divider">
          Snack recipes
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="https://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>


    </div>












  </ion-content>
</ion-view>
