<ion-view view-title="Recipes">
  <ion-content>
    <div class="list">

      <!--
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div> -->

      <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>

      <div class="item item-divider green-divider">
        Breakfast
      </div>

      <a class="item item-thumbnail-left" ui-sref="recipe1">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg">
          <h4>MEDITERRANEAN BBQ MARINADE</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

      <a class="item item-thumbnail-left" ui-sref="recipe2">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/09/Balsamic-Chicken-Website-Receipe-300x216.jpg">
          <h4>BALSAMIC CHICKEN</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/08/Chicken-Teriyaki-Soba-Blog-Recipe-555x378.jpg">
          <h4>Chicken Teriyaki Soba</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/10/Asian-Inspired-Spiced-Turkey-Meatballs-Website-Recipes-555x378.jpg">
          <h4>ASIAN INSPIRED SPICED TURKEY MEATBALLS</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

      <div class="item item-divider green-divider">
        Lunch
      </div>


      <a class="item item-thumbnail-left" ui-sref="recipe1">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg">
          <h4>MEDITERRANEAN BBQ MARINADE</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

      <a class="item item-thumbnail-left" ui-sref="recipe2">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/09/Balsamic-Chicken-Website-Receipe-300x216.jpg">
          <h4>BALSAMIC CHICKEN</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/08/Chicken-Teriyaki-Soba-Blog-Recipe-555x378.jpg">
          <h4>Chicken Teriyaki Soba</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/10/Asian-Inspired-Spiced-Turkey-Meatballs-Website-Recipes-555x378.jpg">
          <h4>ASIAN INSPIRED SPICED TURKEY MEATBALLS</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

      <div class="item item-divider green-divider">
        Sides
      </div>

      <a class="item item-thumbnail-left" ui-sref="recipe1">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg">
          <h4>MEDITERRANEAN BBQ MARINADE</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

      <a class="item item-thumbnail-left" ui-sref="recipe2">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/09/Balsamic-Chicken-Website-Receipe-300x216.jpg">
          <h4>BALSAMIC CHICKEN</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/08/Chicken-Teriyaki-Soba-Blog-Recipe-555x378.jpg">
          <h4>Chicken Teriyaki Soba</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>
      <a class="item item-thumbnail-left" href="#">
          <img src="https://dkx2n65sfmxqe.cloudfront.net/media/2017/10/Asian-Inspired-Spiced-Turkey-Meatballs-Website-Recipes-555x378.jpg">
          <h4>ASIAN INSPIRED SPICED TURKEY MEATBALLS</h4>
          <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
          </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
        </a>

    </div>
  </ion-content>

  <!--
  <a class="item item-thumbnail-left" href="#">
    <img src="https://ionicframework.com/img/docs/blue-album.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>
  -->
</ion-view>
