<ion-view view-title="Recipe2">
    <ion-content>
      <div class="img-container">
        <img class="full-image" src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg" alt="BBQ" style="width:100%;">

       <!-- <h2 class="img-bottom-right">MEDITERRANEAN BBQ MARINADE</h2> -->

        <div class="img-bottom-left">Bottom Left</div>
      </div>
      <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.</p>
      <p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
      <hr />
      <p>Mediterranean Mixture</p>
      <ul>
        <li>1 Tbsp olive oil</li>
        <li>2.5 Tbsp lemon juice</li>
        <li>3 Tbsp dried rosemary</li>
        <li>2 Tbsp ground cumin</li>
        <li>2 Tbsp ground coriander</li>
        <li>1 Tbsp dried oregano</li>
        <li>1/2 Tsp sea salt</li>
        <li>2 Tsp cinnamon</li>
      </ul>
      <hr />
      <p>Directions</p>
      <p>Combine all the ingredients in a bowl. For every 1 lb. of boneless meat or 2 lb if the meat is on the bone, add 2 tablespoons of the Mediterranean mixture.</p>
      <p>This makes 1/3 cup.</p>
      <p>Let it store for 24 hours—or at least 10 minutes for quicker serving.</p>
    </ion-content>
</ion-view>
