<ion-view view-title="Recipe1">
      <!--
      <ion-nav-buttons>
        <button class="button" ng-click="myGoBack()"><i class="ion-arrow-left-c"></i></button>
    </ion-nav-buttons>
    -->
    <ion-content>
      <div class="list card">
  <div class="item item-avatar">
    <img src="https://secure.gravatar.com/avatar/f703279cd8f8357cf0f2caf41dec1449">
    <h2>MEDITERRANEAN BBQ MARINADE</h2>
    <p>By Claire Jackson, November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="https://dkx2n65sfmxqe.cloudfront.net/media/2015/04/Summer-BBQ-Mediterranian-Marinade-480x349.jpg">
    <p>Turkey is not just for Christmas, year round it’s a firm favourite as its extra lean and very versatile.
    </p><p>Although you may not traditionally associate the two, it works really well in Asian dishes.</p>
    <!--
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
    -->
    <hr />
    <p>Mediterranean Mixture</p>
    <ul>
      <li>1 Tbsp olive oil</li>
      <li>2.5 Tbsp lemon juice</li>
      <li>3 Tbsp dried rosemary</li>
      <li>2 Tbsp ground cumin</li>
      <li>2 Tbsp ground coriander</li>
      <li>1 Tbsp dried oregano</li>
      <li>1/2 Tsp sea salt</li>
      <li>2 Tsp cinnamon</li>
    </ul>
    <hr />
    <p>Directions</p>
      <p>Combine all the ingredients in a bowl.</p>
      <p> For every 1 lb. of boneless meat or 2 lb if the meat is on the bone, add 2 tablespoons of the Mediterranean mixture.</p>
      <p>This makes 1/3 cup.</p>
      <p>Let it store for 24 hours—or at least 10 minutes for quicker serving.</p>
  </div>

</div>






    </ion-content>
</ion-view>
