<ion-view view-title="Recipes">
  <ion-content has-bouncing="false">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="recipes">
      </label>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right item-remove-animate" ng-repeat="chat in chats | filter:recipes" type="item-text-wrap" href="#/chats/{{chat.id}}">
        <img ng-src="{{chat.mainimg}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
