<ion-view view-title="video">
    <ion-content>
      <iframe width="100%" height="300px" src="https://www.youtube.com/embed/sPIipuyssAQ" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
      <h3>Getting Rid Of Irrational Thoughts - Your Key To Long term Weight Loss</h3>
      <p>The 7th and final video in the series explains the impact of irrational thoughts on long-term weight Loss</p>

      <hr />
      <p>Irrational thoughts are stopping you from reaching your goal. </p>

      <p>Feelings of guilt from putting yourself and your health first often <br />
      prevent you from completing your weight loss. Irrational thoughts of time and <br />
      expense are a barrier to living a healthy life. It is easy to make time for your <br /> health when you make it a priority and losing weight will save money in the long term, especially with the associated health benefits. Make a decision now, that you want and need to do this for your health. Visualise yourself at your ideal weight, how would your life be? What kind of clothes could you wear? How would you feel when you looked in the mirror? Think of the compliments. Think of the things that you can do if you lost your restrictive weight, playing with your children, running up the stairs without being breathless. Think about how your weight affects your physical and mental well-being and how losing weight can improve that. Step 7 in our 7 Steps to Weight Loss Success Series. Subscribe to our Weight Management Channel for more healthy advice on sustainable weight loss.</p>
    </ion-content>
</ion-view>
