<ion-view title="video library">
  <ion-nav-buttons></ion-nav-buttons> 
  <ion-content>
    <div class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
        <div class="item item-divider green-divider">
          General videos
        </div>
        <a class="item item-thumbnail-left" ui-sref="video">
          <img src="https://i.ytimg.com/vi/sPIipuyssAQ/hqdefault.jpg">
          <h4>Getting Rid Of Irrational Thoughts</h4>
          <h4>Your Key To Long term Weight Loss</h4>
          <p>Aisling Carmody</p>
        </a>
         <div class="item item-divider green-divider">
          Exercise videos
        </div>
        <li class="item">
          Add videos here
        </li>
        <div class="item item-divider green-divider">
          Personal videos
        </div>
        <li class="item">
          Add videos here
        </li>
      </div>
    </ion-content>
</ion-view>
